<h3>Cadastro Login:</h3>
    <div class="total">
      <div class="cadastro">
        <form action="/acesso/cadastro_do">
          <table style="color: black">
            <tr>
              <td>login:</td>
              <td><input type="text" name="form[login]" value=""><br></td>
            </tr>
            <tr>
              <td>senha:</td>
              <td><input type="text" name="form[senha]" value=""><br></td>
            </tr>
            <tr>
              <td>equipamento? <%= @equipamento.id %></td>
              <td align="left"><input type="radio" name="form[equipamento_id]" value="<%= @equipamento.id %>" checked>sim
              </td>
            </tr>
            <tr>
              <td align="left"><input type="submit" value="Enviar"></td>
            </tr>
          </table>
        </form>
      </div>
    </div>

