<h3>Editar Login:</h3>
    <div class="total">
      <div class="cadastro">
        <form action="/acesso/editar_do">
          <table style="color: black">
            <tr>
              <td>login:</td>
              <td><input type="text" name="form[login]" value="<%=@acesso.login%>"><br></td>
            </tr>
            <tr>
              <td>senha:</td>
              <td><input type="text" name="form[senha]" value="<%=@acesso.senha%>"><br></td>
            </tr>
             <tr>
              <td align="left"><input type="submit" value="Enviar"></td>
            </tr>
          </table>
        </form>
      </div>
    </div>

